@use '../styles/_mixin' as mx;

.biomain {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10;

  @include mx.breakpoint(md) {
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
  }

  div:nth-child(2) {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 5;
    padding: 2px 30px 2px 30px;

    h2 {
      text-align: center;
      font-size: 2.25rem;
      line-height: 2.5rem;
    }

    p {
      text-align: center;
      font-weight: bold;
      font-size: 1.25rem;
      line-height: 1.75rem;
    }
  }
}
