.pic {
  width: auto;
  height: 80dvh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  margin-block-start: 2.8rem;
  position: relative;
  clip-path: circle(180vh at 50% center);
  mask-image: linear-gradient(black 50%, transparent);

  div {
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    width: 100%;
    padding-block-start: 2em;
    z-index: 999;
  }
}
