.pic {
  width: auto;
  height: 400px;
  background-image: url("/ariana.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-block-start: 2.8rem;


  div {
    display: flex;
    justify-content: center;
    margin-block-start: 3em;
  }
}
